.header {
    margin-top: 10px;
    padding: 60px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Times New Roman';
  }
h1{
    font-family: 'Times New Roman';
    font-weight: bold;
    text-align: center;
}  
h2 {
    font-size: 25px;
    font-family: 'Times New Roman';
    font-weight: bold;
    color: #ffffff;
    background: #373435;
    margin-bottom: 50px;
    margin-top: 100px;
}

body {
    font: bold 15px sans-serif;
    background: #8c1919;
}

legend {
    font: bold 20px sans-serif;
    margin-bottom: 20px;
}

input {
    font: bold 15px sans-serif;
    background: white;
    display: block;
    /* border-bottom: black;*/
    margin-left: 150px;
    margin-block-end: 20px;
}

fieldset {
    font-family: sans-serif;
    color: #ffffff;
    margin-right: 900px;
}

option {
    font-family: sans-serif;
    color: #ffffff;
}

p {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    color: #ffffff;
}

select {
    color: #ffffff;
    border: #ffffff;
    background: #373435;
    border-radius: 5px;
    display: block;
    width: auto;
}

.bborrar {
    border-radius: 5px;
    background: #373435;
    padding: 4px;
    margin-left: 130px;
    color: #ffffff;
    width: 100px;
    height: 40px;
}

.benviar {
    border-radius: 5px;
    background: #373435;
    padding: 4px;
    margin-left: 130px;
    margin-block-end: 20px;
    color: #ffffff;
    width: 100px;
    height: 40px;
}

.bconsultar {
    border-radius: 5px;
    background: #373435;
    padding: 4px;
    margin-left: 130px;
    margin-block-end: 20px;
    color: #ffffff;
    width: 100px;
    height: 40px;
}

tr {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    color: #373435;
}

table {
    background-color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
}

div {
    font-family: sans-serif;
    color: #ffffff;
}